@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #0E1323;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 340px;
}

@media (max-width: 75rem) {
  body {
    display: block;
  }
}

.main {
  width: 100%;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 75rem) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 81px 0 0 0;
  }
}

.main__user {
  width: 22.97%;
  background-color: #1C204B;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 75rem) {
  .main__user {
    width: 100%;
    max-width: 327px;
    margin: 0 auto 24px;
  }
}

.main__user-info {
  background-color: #5747EA;
  border-radius: 15px;
  padding: 37px 0 80px 32px;
}

@media (max-width: 75rem) {
  .main__user-info {
    padding: 35px 0 34px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main__user-img {
  width: 78px;
  height: 78px;
  margin-bottom: 43px;
}

@media (max-width: 75rem) {
  .main__user-img {
    margin-bottom: 0;
    margin-right: 20px;
    width: 64px;
    height: 64px;
  }
}

@media (max-width: 75rem) {
  .main__user-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__report {
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #BBC0FF;
  margin-bottom: 3px;
}

@media (max-width: 75rem) {
  .main__report {
    margin-bottom: 4px;
  }
}

.main__user-name {
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.9375rem;
  color: #ffffff;
}

@media (max-width: 75rem) {
  .main__user-name {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.main__buttons {
  padding: 26px 0 32px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 75rem) {
  .main__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 24px 0 25px 0;
  }
}

.main__btn-inside {
  margin-bottom: 21px;
}

.main__btn-inside:last-child {
  margin-bottom: 0;
}

@media (max-width: 75rem) {
  .main__btn-inside {
    margin-bottom: 0;
    width: calc(100% / 3);
    text-align: center;
  }
}

.main__btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #7078C9;
  cursor: pointer;
}

.main__btn:hover {
  color: #ffffff;
}

@media (max-width: 75rem) {
  .main__btn {
    text-align: center;
  }
}

.main__user-activities {
  width: 74.32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
}

@media (max-width: 75rem) {
  .main__user-activities {
    width: 100%;
    max-width: 825px;
    margin: 0 auto;
  }
}

@media (max-width: 62rem) {
  .main__user-activities {
    max-width: 540px;
    margin-bottom: 81px;
  }
}

@media (max-width: 48rem) {
  .main__user-activities {
    width: 100%;
    max-width: 327px;
    margin: 0 auto 81px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__card {
  position: relative;
  width: 30.9%;
  border-radius: 15px;
}

.main__card:nth-last-child(-n + 3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 75rem) {
  .main__card {
    margin-top: 30px;
  }
}

@media (max-width: 62rem) {
  .main__card {
    width: 47.22%;
  }
}

@media (max-width: 48rem) {
  .main__card {
    width: 100%;
    margin-bottom: 24px;
    margin-top: 0px;
  }
  .main__card:last-child {
    margin-bottom: 0;
  }
}

.main__card-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 15px;
  height: 160px;
}

@media (max-width: 48rem) {
  .main__card-top {
    height: 140px;
  }
}

.main__card-top--work {
  background-color: #FF8B64;
  background-image: url(../../images/icon-work.svg);
  background-size: 78px 78px;
  background-repeat: no-repeat;
  background-position: right 17.42px top -10.91px;
}

.main__card-top--play {
  background-color: #55C2E6;
  background-image: url(../../images/icon-play.svg);
  background-size: 90px 90px;
  background-repeat: no-repeat;
  background-position: right 11px top -14.4px;
}

.main__card-top--study {
  background-color: #FF5E7D;
  background-image: url(../../images/icon-study.svg);
  background-size: 78px 78px;
  background-repeat: no-repeat;
  background-position: right 17.07px top -6.05px;
}

.main__card-top--exercise {
  background-color: #4BCF82;
  background-image: url(../../images/icon-exercise.svg);
  background-size: 79.65px 53.48px;
  background-repeat: no-repeat;
  background-position: right 17.62px top 0.42px;
}

.main__card-top--social {
  background-color: #7335D2;
  background-image: url(../../images/icon-social.svg);
  background-size: 73.6px 100px;
  background-repeat: no-repeat;
  background-position: right 13.48px top -15px;
}

.main__card-top--self-care {
  background-color: #F1C75B;
  background-image: url(../../images/icon-self-care.svg);
  background-size: 72px 66px;
  background-repeat: no-repeat;
  background-position: right 7.21px top -18.79px;
}

.main__card-bottom {
  position: relative;
  width: 100%;
  border-radius: 15px;
  background-color: #1C204B;
  margin-top: 45px;
  padding: 29px 30px 32px 30px;
  cursor: pointer;
}

.main__card-bottom:hover {
  background-color: #33397A;
}

@media (max-width: 48rem) {
  .main__card-bottom {
    margin-top: 38px;
    padding: 28px 24px;
  }
}

.main__activitie-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

@media (max-width: 48rem) {
  .main__activitie-menu {
    margin-bottom: 6px;
  }
}

.main__activitie-name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #ffffff;
}

.main__activitie-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.main__ellipsis-img {
  width: 21px;
  height: 5px;
  cursor: pointer;
}

.main__ellipsis-img:hover {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

@media (max-width: 48rem) {
  .main__activitie-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__heading-time {
  font-style: normal;
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 4.125rem;
  color: #ffffff;
  margin-bottom: 8px;
}

@media (max-width: 48rem) {
  .main__heading-time {
    font-size: 2rem;
    line-height: 2.375rem;
    margin-bottom: 0px;
  }
}

.main__result-text {
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #BBC0FF;
}

.active {
  color: #ffffff;
}
/*# sourceMappingURL=app.css.map */