* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: $bg;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 340px;
    @media(max-width: $xl) {
        display: block;
    }
}
