$sm: rem(576);
$md: rem(768);
$lg: rem(992);
$xl: rem(1200);

$bg: #0E1323;
$bg-div: #1C204B;
$blue: #5747EA;
$soft-blue: #BBC0FF;
$white: #ffffff;
$medium-blue: #7078C9;
$orange-bg: #FF8B64;
$light-blue-bg: #55C2E6;
$pink-bg: #FF5E7D;
$green-bg: #4BCF82;
$purple-bg: #7335D2;
$yellow-bg: #F1C75B;
$hover-bg: #33397A;
